* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: powderblue;
    font-family: "Poppins", sans-serif;
}

.container {
  width: 400px;
  margin: 150px auto;
}

.card {
    background-color: midnightblue;
    color: skyblue;
    border-radius: 5px;
    text-align: center;
    padding: 60px 50px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.card h1 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 300;
}

.card p {
    font-size: 15px;
    margin-bottom: 30px;
}

.card .form-group {
    margin-bottom: 20px;
}

.card input[type="text"] {
    padding: 15px 10px;
    font-size: large;
    border: none;
    background-color: powderblue;
    width: 100%;
}

.card button {
    padding: 15px 10px;
    font-size: large;
    border: none;
    color: powderblue;
    cursor: pointer;
    background: rgb(6,0,107);
    background: linear-gradient(90deg, rgba(6,0,107,1) 0%, rgba(6,6,112,1) 7%, rgba(6,11,117,1) 13%, rgba(6,16,121,1) 19%, rgba(5,23,127,1) 27%, rgba(5,27,131,1) 32%, rgba(5,31,135,1) 37%, rgba(5,36,139,1) 43%, rgba(5,40,143,1) 48%, rgba(5,44,147,1) 53%, rgba(5,46,149,1) 56%, rgba(5,49,151,1) 59%, rgba(4,53,155,1) 64%, rgba(4,56,158,1) 68%, rgba(3,60,162,1) 73%, rgba(3,63,165,1) 77%, rgba(2,68,169,1) 83%, rgba(2,70,171,1) 85%, rgba(1,73,174,1) 89%, rgba(0,78,178,1) 95%, rgba(0,83,182,1) 100%);
}

.card button:hover {
    background: rgb(50,0,107);
    background: linear-gradient(90deg, rgba(50,0,107,1) 0%, rgba(53,0,112,1) 5%, rgba(56,0,117,1) 10%, rgba(58,0,120,1) 13%, rgba(63,0,127,1) 20%, rgba(67,0,133,1) 26%, rgba(71,0,139,1) 32%, rgba(74,0,144,1) 37%, rgba(78,0,150,1) 43%, rgba(83,0,157,1) 50%, rgba(88,0,164,1) 57%, rgba(92,0,170,1) 63%, rgba(95,0,175,1) 68%, rgba(98,0,180,1) 73%, rgba(102,0,186,1) 79%, rgba(106,0,193,1) 85%, rgba(109,0,198,1) 90%, rgba(113,1,205,1) 96%, rgba(116,1,209,1) 100%);
}